<div class="jumbotron">
<h1>Which One? <small>Add or list workouts</small></h1>
</div>

<div class="container-fluid">
<ul class="pager">
    <li><a href="./new">New</a></li>
    <li><a href="./view/0">View</a></li>
</ul>
</div>

%rebase("layout/layout", title="Workout Home")
